* {
  margin: 0;
  padding: 0;
  /* scroll-behavior: auto; */
  scroll-snap-type: y proximity;
}

:root {
  --black: #000000;
  --ash-black: #222;
  --white: #ffffff;
  --whiteOpacity: #ffffff78;
  --mutedPink: #fec2d4;
  --romanticPink: #ff779f;
  --romanticPinkOpacity: #ff77a042;
  --punch: #fd3765;
  --jelly: #fd0951;
  --happyPink: #f91944;
  --skyBlue: #9fc3e7;
  --shadowBlue: #5692c4;
  --shadowBlueOpacity: #70a8d65e;
}

/* * {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

/* html {
  scroll-snap-type: y proximity;
} */

.App {
  height: auto;
  width: auto;
  position: sticky;
  top: 0;
}
section {
  height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: sticky;
  scroll-snap-align: center;
  perspective: 500px;
  top: 0;
}

#logoSection {
  background-color: var(--white);
}
#helloSection {
  scroll-snap-align: start;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* #mailSection {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
#magazineSection {
  scroll-snap-align: start;
  height: 350vh;
  background-color: var(--white);
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
#byeSection {
  scroll-snap-align: start;
  background-color: var(--white);
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
}

#aa {
  background-color: #5692c4;
}
